.section {
    margin: 5rem 0;
}

.divRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 2rem;
    padding: 0 4rem;
    margin: 1rem 0;
}

.divcolumn {
    width: 50%;
}


.divVM {
    background-color: white;
    border-radius: 7px;
    padding: 2rem 3rem;
    margin-bottom: 1rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.24);
}

.vmText {
    line-height: 1.75;
    font-size: 1rem;
}

@media only screen and (max-width: 1000px) {
    .divRow {
        flex-direction: column;
        padding: 0 2rem;
    }

    .divcolumn {
        width: 100%;
    }

    .divVM {
        padding: 2rem;
    }
}