.row {
    display: flex;
    column-gap: 10rem;
    margin: 5rem 0;
    padding: 0 4rem;
}

.columnHead {
    width: 30%;
}

.columnDes {
    width: 70%;
}

.desText {
    line-height: 1.85;
    font-size: 1.2rem;
    text-align: justify;
}


@media only screen and (max-width: 1000px) {
    .row {
        flex-direction: column;
        padding: 0 2rem;
    }

    .columnDes,
    .columnHead {
        width: 100%;
        margin-bottom: 2rem;
    }
}